b {
text-align: center;
font-size: 50px; font-family: 'Courier New', Courier, monospace ;
color: rgb(50, 255, 50);
-webkit-text-stroke: black 2px;
}

input {
    font-size: 50px; height: 50px;
    -webkit-text-stroke: black 2px;
    width: 100px;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: rgb(0, 0, 0);
}

button {
    font-size: 50px; height: 60px; width: 60px;
    background-color: cornflowerblue;
}


#negativetext {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

#correctOutOfTotal {
    color: rgb(50, 255, 50);
}

#problem {
    text-align: center;
}



#QuestionToggleDiv {
    float: right;
}

.QuestionToggleButton {
    float: right;
    align-items: center;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace ;
}

#toggleBasicquestion {
    font-size: 25px;
}
